@charset "UTF-8";
/* css/style.css */
body{
    color:navy;
    padding:2em;
}

/* div태그에 대해
서체: 궁서체
글자크기: 30%크게
글자색: 알아서
*/
div{
    font-family: 궁서체;
    font-size:1.3em;
    color:blueviolet;
    margin-bottom: 20px;
}